@model JLM_Support.Models.SieSync.VouchersQueue

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>VouchersQueue</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FortnoxId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FortnoxId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccessToken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccessToken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voucher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FailMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FailMessage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
