@model JLM_Support.Models.IcaProcab.TblSetting

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TblSetting</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatabaseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatabaseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorizationCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorizationCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accesstoken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accesstoken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Companyname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Companyname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Moms25)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Moms25)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Moms12)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Moms12)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Moms6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Moms6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Moms0)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Moms0)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Voucherseries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voucherseries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OreAdjAcc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OreAdjAcc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MomsXml25)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MomsXml25)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MomsXml12)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MomsXml12)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MomsXml6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MomsXml6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MomsXml0)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MomsXml0)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
