@model JLM_Support.Models.Klarna.Payment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncludeFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncludeFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExcludeFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExcludeFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBooked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBooked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapturedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapturedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FortnoxInvoiceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FortnoxInvoiceNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FortnoxPaymentNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FortnoxPaymentNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FortNoxPaymentVoucherSeries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FortNoxPaymentVoucherSeries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FortNoxPaymentVoucherNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FortNoxPaymentVoucherNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Errors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Errors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentReference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentReference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VatAmountOnFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VatAmountOnFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VatAmountOnFeeCurrency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VatAmountOnFeeCurrency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaptureId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaptureId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MerchantReference1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MerchantReference1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MerchantReference2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MerchantReference2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortOrderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortOrderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
